<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
        <title>error</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
        <p>{{errorMessage}}</p>
        </div>
        
        {{>footer}}
    </body>
</html>