body{
    text-align: center;
    color: rgb(17, 3, 3);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main-content{
    flex-grow: 1;
}

footer{
    background-color:rgba(146, 45, 45, 0.308);
    color: gray;
    border-top: 1px solid #d63d3d;
    margin-top: 16px;
    padding: 16px 0;
}

header{
    margin-top:16px;
    margin-bottom: 49px;
    background-color: rgb(211, 166, 106);
}
h1{
    font-size: 62px;
    margin-bottom: 16px;
}

.para-1{
    color: rgb(57, 16, 94);
}
.para-2{
    color: rgb(8, 38, 39);
}
header a{
    color: #888888;
    margin-right:16px ;
    text-decoration: none;
}
.potrait{
    width: 250px;
}
button{
    cursor: pointer;
    border: 1px solid #888888;
    padding: 4px 0;
}